{% if page_obj %}
    {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link"
                       href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous</a>
                </li>
                <li class="page-item page-link"> Page {{ page_obj.number }}
                    of {{ page_obj.paginator.num_pages }}</li>
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link"
                       href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endif %}