{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <div class="row row-cols-3">
            {% for staff in staffmember_list %}
                <div class="col">
                    {% include 'company/staff/staff_card.html' with staff=staff %}
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% include 'paging.html' %}
        </div>
    </div>
    {% if company.manager.profile.user == user %}
        <button type="button" class="btn btn-primary"
                onclick="location.href='{% url 'staff-add' company_id=company.id %}'"> Add Staff
        </button>
    {% endif %}


{% endblock %}