{% load static %}
<div class="card" style="width: 18rem;">
    {% if staff.profile.image %}
        <img src="{{ staff.profile.image.url }}"
             class="card-img-top" alt="...">
    {% else %}
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
             class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ staff.profile.user.get_full_name }}</h5>
        {#        <p class="card-text">{{ object.description }}</p>#}
        {% if staff.company.manager.profile.user == user %}
            <div class="row justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                            onclick="location.href='{% url 'staff-edit' staff_id=staff.id %}'">
                        Edit
                    </button>
                    {% include 'company/staff/staff_delete_button.html' with staff_id=staff.id %}
                </div>
            </div>
        {% endif %}
    </div>
</div>