{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label>User Name
            <input type="text" value="" name="username">
        </label>
        <div style="overflow: auto; width: 200px; height: 75px; display: inline-block">
            {% for service in service_list %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="{{ service.id }}"
                               name="checked_services">
                        {{ service.name }}</label>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Add to Staff">
    </form>
{% endblock %}