{% extends 'base.html' %}
{% block content %}
{% if title %}
<h1>{{ title }}</h1>
{% endif %}
<div class="container">
    <div class="row mt-5">
        {% for company in company_list %}
        <div class="col-md-4 mb-5">
            {% include "company/card.html" with object=company %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="company-rating">
                        <i class="fa fa-star{% if company.average_review < 1%}-o empty{% endif%}"></i>
                        <i class="fa fa-star{% if company.average_review < 2%}-o empty{% endif%}"></i>
                        <i class="fa fa-star{% if company.average_review < 3%}-o empty{% endif%}"></i>
                        <i class="fa fa-star{% if company.average_review < 4%}-o empty{% endif%}"></i>
                        <i class="fa fa-star{% if company.average_review < 5%}-o empty{% endif%}"></i>
                        {{ company.average_review |stringformat:".2f"}}

                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        {% include 'paging.html' %}
    </div>

</div>

{% endblock %}