{% extends 'base.html' %}
{% block content %}
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" id="all-tab"
               href="{% url 'company-order' company_id=company_id filter="all" %}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="{{ order_states.requested }}-tab"
               href="{% url 'company-order' company_id=company_id filter=order_states.requested %}">Requested</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="{{ order_states.approved }}-tab"
               href="{% url 'company-order' company_id=company_id filter=order_states.approved %}">Approved</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="{{ order_states.denied }}-tab"
               href="{% url 'company-order' company_id=company_id filter=order_states.denied %}">Denied</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="{{ order_states.removed }}-tab"
               href="{% url 'company-order' company_id=company_id filter=order_states.removed %}">Removed</a>
        </li>
    </ul>
    {% include "order/order_list.html" with order_list=order_list %}
{% endblock %}