{% extends 'base.html' %}
{% block content %}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}
    <div class="container">
        <div class="row row-cols-3">
            {% for company in company_list %}
                <div class="col px-lg-5 py-3">
                    {% include "company/card.html" with object=company %}
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% include 'paging.html' %}
        </div>

    </div>

{% endblock %}