{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row row-cols-3">
            {% for service in services %}
                <div class="col px-lg-5 py-3">
                    {% include "company/services/service_card.html" with object=service %}
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% include 'paging.html' %}
        </div>
    </div>

    {% if company.manager.profile.user == user %}
        <div class="container">
            <button type="button" class="btn btn-primary"
                    onclick="location.href='{% url 'service-add' company_id=company.id %}'"> Add Service
            </button>
        </div>
    {% endif %}
{% endblock %}