{% extends 'base.html' %}

{% block content %}


<!-- Book An Oppointment Area Start -->
<section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix">

    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center white">
                    <h2>Book An Appointment</h2>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Appointment Form -->
                <div class="appointment-form">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-30">

                                    <p><strong> user name:</strong> {{username}} </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-25">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">choose your staff member</label>
                                        <select name="your-staff" class="form-control" id="exampleFormControlSelect1">
                                            {% for s in staff %}
                                            <option>{{ s }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-25">
                                    {{ order_time }}
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group mb-30">
                                    <textarea name="your-message" class="form-control"
                                              placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn dento-btn">Booking Now</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>


<!-- Book An Oppointment Area End -->


{% endblock %}

