{% if user.is_authenticated %}
    <div class="container mt-5">
        <div class="row">
            {% for order in order_list %}
                <div class="col-lg-4">
                    {% if company_id %}
                        <form action="{% url 'update-order' company_id=company_id %}" method="POST" class="ui form">
                        {% csrf_token %}
                        <input type="hidden" name='order_id' value="{{ order.id }}">
                        <input type="hidden" name='active_tab' value={{ active_tab }}>
                    {% endif %}
                    {% if order.order_state == order.OrderState.requested %}
                        <div class="card text-white bg-info mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.service_order.name }}</h5>
                                <p class="card-text">{{ order.service_order.description }} with staff member
                                    {{ order.staff_order }}
                                    at
                                    {{ order.order_time }}
                                    on
                                    {{ order.order_day }} </p>
                                {% if company_id %}
                                    <button name='but1' type="submit" class="btn btn-success">Accept</button>
                                    <button name='but2' type="submit" class="btn btn-danger">Reject</button>
                                {% else %}
                                    <a href="{{ order.get_absolute_url }}" class="btn btn-dark">Order details</a>
                                {% endif %}
                            </div>
                        </div>
                    {% elif order.order_state == order.OrderState.denied or order.order_state == order.OrderState.removed %}
                        <div class="card text-white bg-danger mb-3" style="width: 18rem;">

                            <div class="card-body">
                                <h5 class="card-title">{{ order.service_order.name }}</h5>
                                <p class="card-text">{{ order.service_order.description }} with staff member
                                    {{ order.staff_order }}
                                    at
                                    {{ order.order_time }}
                                    on
                                    {{ order.order_day }}

                                </p>
                                {% if order.order_state == order.OrderState.denied %}
                                    <strong>This order was rejected from Company Manager</strong>
                                {% else %}
                                    <strong>This order was removed by the user</strong>
                                {% endif %}

                            </div>
                        </div>
                    {% elif order.order_state == order.OrderState.approved %}
                        <div class="card text-white bg-success mb-3" style="width: 18rem;">

                            <div class="card-body">
                                <h5 class="card-title">{{ order.service_order.name }}</h5>
                                <p class="card-text">{{ order.service_order.description }} with staff member
                                    {{ order.staff_order }}
                                    at
                                    {{ order.order_time }}
                                    on
                                    {{ order.order_day }} </p>
                                <a href="{{ order.get_absolute_url }}" class="btn btn-dark">Order details</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if company_id %}
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="row justify-content-center">
        {% include 'paging.html' %}
    </div>
    <script>
        $("#{{ active_tab }}").addClass("active")
    </script>
{% endif %}