{% extends 'base.html' %}
{% block content %}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="all-tab" href="{% url 'profile-orders' %}">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="req-tab" href="{% url 'order_req' %}">Requested</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="app-tab" href="{% url 'order_app' %}">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="rem-tab" href="{% url 'order_rem' %}">Removed</a>
    </li>
</ul>

<div class="col px-lg-5 py-3">
<div class="row justify-content-center">
        {% for order in profile_order_list %}

        {% if order.order_state == order.OrderState.requested %}
        <div class="card text-white bg-info mb-3" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{ order.service_order.name }}</h5>
                <p class="card-text">{{order.service_order.description }} with staff member
                    {{ order.staff_order }}
                    at
                    {{ order.order_time }}
                    on
                    {{ order.order_day }} </p>
                <a href="{{ order.get_absolute_url }}" class="btn btn-dark">Order details</a>
            </div>
        </div>
        {% elif order.order_state == order.OrderState.denied or order.order_state == order.OrderState.removed %}
        <div class="card text-white bg-danger mb-3" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{ order.service_order.name }}</h5>
                <p class="card-text">{{order.service_order.description }} with staff member
                    {{ order.staff_order }}
                    at
                    {{ order.order_time }}
                    on
                    {{ order.order_day }}

                </p>
                {% if order.order_state == 'denied' %}
                <strong>This order was rejected from Company Manager</strong>
                {% else %}
                <strong>This order was removed by the user</strong>
                {% endif %}

            </div>
        </div>
        {% elif order.order_state == order.OrderState.approved %}
        <div class="card text-white bg-success mb-3" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{ order.service_order.name }}</h5>
                <p class="card-text">{{order.service_order.description }} with staff member
                    {{ order.staff_order }}
                    at
                    {{ order.order_time }}
                    on
                    {{ order.order_day }} </p>
                <a href="{{ order.get_absolute_url }}" class="btn btn-dark">Order details</a>
            </div>
        </div>

        {% endif %}


        {% endfor %}

    </div>
</div>
<script>
   $("#{{ active_tab }}").addClass("active")
</script>
{% endblock %}